{{ $ := .root }}
{{ $page := .page }}
{{ $hash_id := .hash_id }}

<!-- Indicators -->
<ol class="carousel-indicators">
  {{ range $index, $item := $page.Params.item }}
  <li data-target="#{{$hash_id}}" data-slide-to="{{$index}}" {{if eq $index 0}}class="active"{{end}}></li>
  {{ end }}
</ol>

<!-- Carousel slides wrapper -->
<div class="carousel-inner">
  {{ range $index, $item := $page.Params.item }}

    {{ $style_bg := "" }}
    {{with $page.Params.height}}
      {{ $style_bg = printf "%s height: %s;" $style_bg . }}
    {{end}}
    {{ if $item.overlay_color }}
      {{ $style_bg = printf "%s background-color: %s;" $style_bg ($item.overlay_color | default "transparent") }}
    {{ end }}
    {{ if $item.overlay_img }}
      {{ $bg_img := resources.Get (printf "media/%s" $item.overlay_img) }}
      {{ if $bg_img }}
        {{ $style_bg = printf "%sbackground-image: url('%s');background-position:center; background-repeat: no-repeat; background-size: cover;" $style_bg $bg_img.Permalink }}
      {{ else }}
        {{ errorf "Couldn't find `%s` in the `assets/media/` folder - please add it." $item.overlay_img }}
      {{ end }}
      {{ if $item.overlay_filter }}
        {{ $style_bg = printf "%sfilter: brightness(%s);" $style_bg (string $item.overlay_filter) }}
      {{ end }}
   {{ end }}

  <div class="wg-hero dark carousel-item{{if eq $index 0}} active{{end}}" style="{{$style_bg | safeCSS}}">
    <div class="container" style="text-align: {{$item.align | default "left"}};background:rgba(0,0,0,0.2);">
        <h1 class="hero-title">
          {{ with $item.title }}{{ . | markdownify | emojify }}{{ end }}
        </h1>

        {{ with $item.content }}
        <p class="hero-lead" style="{{if eq $item.align "center"}}margin: 0 auto 0 auto;{{else if eq $item.align "right"}}margin-left: auto; margin-right: 0{{end}}">
          {{ . | markdownify | emojify }}
        </p>
        {{ end }}

        {{ if $item.cta_url }}
        {{ $pack := or .cta_icon_pack "fas" }}
        {{ $pack_prefix := $pack }}
        {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
        {{ end }}
        <p>
          <a href="{{ $item.cta_url }}" class="btn btn-light btn-lg">
            {{- with $item.cta_icon -}}<i class="{{ $pack }} {{ $pack_prefix }}-{{ . }}" style="padding-right: 10px;"></i>{{- end -}}
            {{- $item.cta_label | emojify | safeHTML -}}
          </a>
        </p>
        {{ end }}
      </div>
  </div>
  {{ end }}
</div>

<!-- Left and right controls -->
<a class="carousel-control-prev" href="#{{$hash_id}}" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#{{$hash_id}}" data-slide="next">
  <span class="carousel-control-next-icon"></span>
  <span class="sr-only">Next</span>
</a>
